@import 'include-media.scss';
$column-bg: #ff0;
@mixin clearfix{
	&:after{
		content:'';
		clear: both;
		display: block;
	}
}
*{
	box-sizing: border-box;
}
body{
	background: url(../../images/bg.png) no-repeat;
}

.container{
	background: $column-bg;
	width: 900px;
	margin: auto;
	padding-bottom: 20px;
	@include clearfix;
	.col{
		background: $column-bg;
		width: 900px;
		float: left;
	}
	p {
		font-size: 40px;
		color: green;
	}
}




$color-white: #fff;
@mixin colorheader {
		color: $color-white;
}
.first-block {
	float: left;
	margin-right: 20px;
}
.login-container {
	width: 300px;
	height: 388px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	margin-bottom: 20px;
	  .login-header {
	  	@include colorheader;	
	  	background: #515a9f;
	  	text-align: center;
	  	font: 20px 'proxima_novabold', sans-serif;
	  	padding-top: 23px;
	  	padding-bottom: 20px;
	  	border-top-right-radius: 7px;
	  	border-top-left-radius: 7px;
	  	border-bottom: 1px solid #433979;
	  }
	  label {
       display: block;
       font: 16px 'proxima_novaregular', sans-serif;
       padding-bottom: 8px;
       @include colorheader;
	   }
}
.login-container form {
	padding: 30px 23px 8px 23px;
	border: 1px solid #875998;
			span{
			font: 14px 'skolar_cyrillicregular', sans-serif;
			@include colorheader;
		}
		.input-block input{
			width: 100%;
			margin-bottom: 17px;
			border-radius: 7px;
			padding: 20px 0 20px 10px;
			background: rgba(255, 255, 255, 0.2);
			border: none;
		}
		input::placeholder {
			@include colorheader;
		}
		.input-block input:active {
			background: #fff;
		}
		.input-block input:focus {
			background: rgba(255, 255, 255, 0.8);
		}
}
	.line-one {
		widows: 100%;
		border-bottom: 2px solid #c7accb;
		float: left;
		margin-top: 7px;
		margin-right: 12px;
		opacity: 0.7;
		padding: 0 53px 0 53px;
	}
	.line-two {
		border-bottom: 2px solid #c7accb;
		padding: 0 53px 0 53px;
		float: right;
		margin-top: 7px;
		opacity: 0.7;
	}
.login-footer {
	  	@include colorheader;
	  	width: 100%;
	  	height: 60px;
	  	background: rgba(255, 255, 255, 0.6);
	  	font-family: 'Proxima Nova Rg';
	  	padding: 13px 60px 13px 60px;
	  	font-size: 20px;
	  	border-bottom-right-radius: 7px;
	  	border-bottom-left-radius: 7px;
   		
	 }
.social {
	display: flex;
	justify-content: space-around;
	align-items: center;

.twitter {
	background: url('../../images/icon-sprite.png') no-repeat -15px -13px;
	width: 32px;
	height: 32px;
	
}
.google {
	background: url(../../images/icon-sprite.png) no-repeat -60px -13px;
	width: 32px;
	height: 32px;
}
.facebook {
	background: url('../../images/icon-sprite.png') no-repeat -108px -13px;
	width: 32px;
	height: 32px;
}
}



.profile-container {
	width: 300px;
	height: 424px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
		.profile-header {
		  	@include colorheader;	
		  	background: #b77b5a;
		  	text-align: center;
		  	font: 20px 'proxima_novabold', sans-serif;
		  	padding-top: 23px;
		  	padding-bottom: 20px;
		  	border-top-right-radius: 7px;
		  	border-top-left-radius: 7px;
		  	border-bottom: 1px solid #6b528a;
	  }
} 
.profile-info {
 	background: url(../../images/bg-profile-info.png) no-repeat 100%;
 	padding: 30px 50px 30px 30px;
 	width: 100%;
		span {
			display: block;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			border: 4px solid rgba(255, 255, 255, 0.2);
			margin-right: 15px;
			
			
		}
	}
	.profile-data {
		position: relative;

		span img {
			border-radius: 50%;
			width: 100%;

		}
		p {
		display: block;	
		position: absolute;
		top: 2px;
		padding-left: 100px;
		font: 20px 'proxima_novabold', sans-serif;
		@include colorheader;
		}
	.location-img {
		background: url('../../images/icon-sprite.png') no-repeat -161px -22px;
		width: 11px;
		height: 14px;
		position: absolute;
		top: 45px;
		margin-left: 100px;
		font-size: 16px;
}
em {
	display: block;	
		position: absolute;
		top: 42px;
		padding-left: 115px;
		@include colorheader;
		font: 16px 'proxima_novaregular', sans-serif;
}
}

.stats {
	width: 100%;
	overflow: hidden;
	margin-top: 25px;
	margin-bottom: 30px;

 .following {
	float: left;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	padding: 12px 48px 0 31px;
	font: 16px 'proxima_novaregular', sans-serif;
	@include colorheader;
 }
 span {
	display: block;
	font-size: 30px;
 }
 .fllowers {
 	padding: 12px 48px 0 31px;
 	float: left;
 	font: 16px 'proxima_novaregular', sans-serif;
	@include colorheader;
 }
}



.button {
	text-align: center;
	width: 100%;
}

@mixin but ($bg, $colour){
	font: 20px 'proxima_novabold', sans-serif;
	color: $colour;
	background: $bg;
	padding: 13px 89px 13px 86px;
	display: inline-block;
	border-radius: 10px;
	text-decoration: none;
	

}
.btn1 {
	@include but(rgba(255, 255, 255, 0.2), white);
}

.two-block {
	float: left;
	
}

.download-container {
	width: 300px;
	height: 390px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	margin-bottom: 20px;

		.download-header {
		  	@include colorheader;	
		  	background: #6c8f7d;
		  	text-align: center;
		  	font: 20px 'proxima_novabold', sans-serif;
		  	padding-top: 23px;
		  	padding-bottom: 20px;
		  	border-top-right-radius: 7px;
		  	border-top-left-radius: 7px;
		  	border-bottom: 1px solid #6b528a;
	  }
	}
.complete {
	width: 100%;
	text-align: center;
	padding: 39px 70px 43px 65px;
		.loading-stage {
				width: 100%;
				height: 164px;
				background: url(../../images/download.png) no-repeat;
				margin-bottom: 20px;
			}
			span{
			  font: 30px 'proxima_novaregular', sans-serif;
			  display: block;
			  @include colorheader;	
			}
			p{
			font: 16px 'proxima_novaregular', sans-serif;
			margin: 0;
			@include colorheader;	
			}	

}
	
	.location-container {
	width: 300px;
	
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	margin-bottom: 20px;

		.location-header {
		  	@include colorheader;	
		  	background: #9b8b65;
		  	text-align: center;
		  	font: 20px 'proxima_novabold', sans-serif;
		  	padding-top: 23px;
		  	padding-bottom: 20px;
		  	border-top-right-radius: 7px;
		  	border-top-left-radius: 7px;
		  	border-bottom: 1px solid #36306b;
	  }
	}
	.location-inner {
		display: flex;
		width: 100%;
		padding: 2px;
		border: 1px solid #684474;
			border-bottom-right-radius: 7px;
		 border-bottom-left-radius: 7px;
	
   .location-city {
   	height: 75px;
   	flex-grow: 2;
   	border-right: 1px solid rgba(255, 255, 255, 0.2);
   	position: relative;
   	 }
   	span {
				background: url('../../images/icon-sprite.png') no-repeat -20px -56px;
				width: 19px;
				height: 24px;
				display: block;
				position: absolute;
				top: 25px;
				left: 25px;

	}
   p {
   position: absolute;
   top: 13px;
   left: 55px;
   	@include colorheader;
   	font: 16px 'proxima_novaregular', sans-serif;
   }
   .bullet {
   	flex-grow: 1;
   	}
				em{
				background: url('../../images/icon-sprite.png') no-repeat -18px -88px;
				width: 24px;
				height: 24px;
				position: relative;
				display: block;
	margin: auto;
	margin-top: 22px;
					}
			
	}
	